<div class="theme-config" id="cart_list">
  <div class="theme-config-box">
    <div class="spin-icon">
      <i class="fa fa-shopping-cart"></i>
    </div>
    <div class="skin-setttings">
      <div class="title">Itens no Carrinho</div>
      <% @cart.cart_items.each do |item| %>
        <div class="setings-item">
          <img width="100px" height="100px" src="<%= item.picture.photo %>"/>
          <%= number_to_currency(item.price,unit: 'R$ ') %>
        </div>
      <% end if !@cart.blank? %>
      <div class="sttings-item">
        <h2 class="font-bold">
          <%= number_to_currency(@cart.total,unit: "RS ") if !@cart.blank? %>
        </h2>
      </div>
      <div class="sttings-item">
        <% if !@cart.blank? and @cart.cart_items.present?%>
          <a class="btn btn-primary btn-rounded btn-block" href="<%= cart_path(@cart) %>"><i class="fa fa-shopping-cart"></i> Finalizar Compra</a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">
        // Config box

        // SKIN Select
        $('.spin-icon').click(function (){
            $(".theme-config-box").toggleClass("show");
        });

        $(document).ready(function() {
            var $scrollingDiv = $("#cart_list");

            $(window).scroll(function(){
                $scrollingDiv
                    .stop()
                    .animate({"marginTop": ($(window).scrollTop() )}, "slow" );
            });
        });
    </script>

<% end %>