<%= form_for(device) do |f| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :photo, "Imagem" %>
    <% if f.object.photo.present? %>
        <br>
      <img src="<%= f.object.photo %>">
    <% end %>
    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :maker_id, "Fabricante" %>
    <%= f.select :maker_id, @makers, {prompt: true}, { class: "form-control"} %>
  </div>
    <br>
  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
