<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 align="center">Escolha uma categoria</h1>
  </div>
  <div class="col-md-3"></div>
</div>
<%= render 'cartlist' %>
<div class="row">
  <% @device.categories.each do |category| %>
      <%= link_to images_device_path(id: @device.id,category: category.id) do  %>
        <div class="col-lg-3">
          <div class="widget style1 navy-bg">
            <div class="row">
              <!--<div class="col-xs-4">
                <i class="fa fa-cloud fa-5x"></i>
              </div>-->
              <div class="col-12 text-center">
                <!--<span> Today degrees </span>-->
                <h2 class="font-bold"><%= category %></h2>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>