<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 align="center">Escolha o seu dispositivo</h1>
  </div>
  <div class="col-md-3"></div>
</div>
<%= render 'cartlist' %>
<div class="row">
  <% @devices.each do |device| %>
      <%= link_to categories_device_path(device) do  %>
    <div class="col-lg-4">
      <div class="widget-head-color-box navy-bg p-lg text-center">
        <div class="m-b-md">
          <h2 class="font-bold no-margins">
            <%= device %>
          </h2>
          <!--<small>Founder of Groupeq</small>-->
        </div>
        <img src="<%= device.photo %>" width="200px" height="200px" class="img-circle circle-border m-b-md" alt="profile">
        <!--<div>
          <span>100 Tweets</span> |
          <span>350 Following</span> |
          <span>610 Followers</span>
        </div>-->
      </div>
      <!--<div class="widget-text-box">
        <h4 class="media-heading">Alex Smith</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="text-right">
          <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
          <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
        </div>
      </div>-->
    </div>
      <% end %>
  <% end %>
</div>