<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1 align="center">Escolha seus adesivos</h1>
  </div>
  <div class="col-md-3"></div>
</div>
<%= render 'cartlist' %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <% @images.each do |img| %>
      <div class="col-md-3">
        <div class="ibox">
          <div class="ibox-content product-box">

            <div class="product-imitation">
              <a data-toggle="modal" href="#modal-form_<%= img.id %>"><img src="<%= img.photo %>" /></a>
            </div>
            <div class="product-desc">
              <span class="product-price">
                  <%= number_to_currency(img.price, unit: "R$ ") %>
              </span>
              <small class="text-muted"><%= img.category %></small>
              <a href="#" class="product-name"> <%= img.name %></a>

              <div class="small m-t-xs">
               <!-- Many desktop publishing packages and web page editors now. -->
              </div>
              <div class="m-t text-righ">

                  <%= link_to  add_to_cart_picture_path(img),remote: true, method: :get,class:"btn btn-xs btn-outline btn-primary" do %>
                    Comprar
                    <i class="fa fa-shopping-cart"></i>
                  <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
        <div id="modal-form_<%= img.id %>" class="modal fade" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <img src="<%= img.image_real %>"/>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>




<%- if flash[:notice].present? %>
    <script type="text/javascript">
            toastr.success('Adicionado ao carrinho', '');
    </script>
<% end  -%>

<script>
  $(".teste").on('click',function(){
      swal( "Good job!", "You clicked the button!", "success");
  });

</script>