<p id="notice"><%= notice %></p>



<h1>Aparelhos</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins collapsed">
      <div class="ibox-title">
        <h5>Pesquisa</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>

        </div>
      </div>
      <div class="ibox-content">
        <%= search_form_for(@q, url: devices_path) do |f| %>
            <%= f.text_field :name_or_maker_name_cont, class: "form-control", placeholder: "Aparelho ou Fabricante" %>
            <br>
            <%= f.select :maker_id_eq, Maker.all.map{|d| [d.name,d.id]},{prompt: "Fabricante"},{ class:"form-control"} %>
            <br>

            <%= f.submit "Pesquisar", class: "btn btn-w-m btn-primary" %>
            <%= link_to "Limpar", devices_path, class: "btn btn-w-m btn-primary" %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Fabricante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><%= device.maker %></td>
        <td><%= link_to 'Editar', edit_device_path(device) %></td>
        <td><%= link_to 'Apagar', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @devices %>
<br>

<%= link_to 'Novo Aparelho', new_device_path, class: "btn btn-primary" %>
