<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @device.photo %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @device.maker %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
