<!--<div class="row" >
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <center>

    </center>
  </div>
  <div class="col-md-3"></div>
</div>-->

<%= link_to home_devices_path do %>
    <button type="button" style="position:absolute;top: 50%;left: 50%;width: 300px;height: 100px;margin-top:-50px;margin-left: -150px" class="btn btn-primary btn-lg dim">Iniciar    <i class="fa fa-play"></i></button>
<% end %>