<p id="notice"><%= notice %></p>
<div class="wrapper wrapper-content animated fadeInRight">



  <div class="row">
    <div class="col-md-9">

      <div class="ibox">
        <div class="ibox-title">
          <span class="pull-right">(<strong><%= @cart.cart_items.count %></strong>) itens</span>
          <h5>Itens no carrinho</h5>
        </div>
        <% @cart.cart_items.each do |item| %>
          <div class="ibox-content">


            <div class="table-responsive">
              <table class="table shoping-cart-table">

                <tbody>
                <tr>
                  <td width="90">
                    <div class="cart-product-imitation" style="background-image: url(<%= item.picture.photo %>); background-size: 80px 80px; background-repeat: no-repeat;">

                    </div>
                  </td>
                  <td class="desc">
                    <h3>
                      <a href="#" class="text-navy">
                        <%= item.picture %>
                      </a>
                    </h3>
                    <p class="small">
                      <%= item.picture.category %>
                    </p>
                    <dl class="small m-b-none">
                      <dt><%= item.picture.device %></dt>
                      <!--<dd>A description list is perfect for defining terms.</dd>-->
                    </dl>

                    <!--<div class="m-t-sm">
                      <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                      |
                      <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                    </div>-->
                  </td>

                  <td>
                    <!--$180,00
                    <s class="small text-muted">$230,00</s>-->
                  </td>
                  <td width="65">
                    <!--<input type="text" class="form-control" placeholder="1">-->
                    <%= link_to destroy_cart_item_carts_path(id_cart_item: item.id), method: :delete do %>
                        <i class="fa fa-trash fa-2x"></i>
                    <% end %>
                  </td>
                  <td>
                    <h4>
                      <%= number_to_currency(item.price,unit: "R$ ") %>
                    </h4>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        <% end %>


        <div class="ibox-content">

          <%= link_to finish_cart_path(@cart) do %>
            <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Finalizar Compra</button>
          <% end %>
          <%= link_to home_devices_path do %>
            <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continuar comprando</button>
          <% end %>

        </div>
      </div>

    </div>
    <div class="col-md-3">

      <div class="ibox">
        <div class="ibox-title">
          <h5>Total</h5>
        </div>
        <div class="ibox-content">
                            <span>
                                Total
                            </span>
          <h2 class="font-bold">
            <%= number_to_currency(@cart.total,unit: "R$ ") %>
          </h2>

          <hr/>
          <span class="text-muted small">
                                <!--*For United States, France and Germany applicable sales tax will be applied-->
                            </span>
          <div class="m-t-sm">
            <div class="btn-group">
              <a href="<%= finish_cart_path(@cart) %>" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i>Finalizar</a>
              <a href="<%= cancel_cart_path(@cart) %>" class="btn btn-white btn-sm"> Cancelar</a>
            </div>
          </div>
        </div>
      </div>

     <!-- <div class="ibox">
        <div class="ibox-title">
          <h5>Support</h5>
        </div>
        <div class="ibox-content text-center">



          <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
          <span class="small">
                                Please contact with us if you have any questions. We are avalible 24h.
                            </span>


        </div>
      </div>-->

      <!--<div class="ibox">
        <div class="ibox-content">

          <p class="font-bold">
            Other products you may be interested
          </p>

          <hr/>
          <div>
            <a href="#" class="product-name"> Product 1</a>
            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="m-t text-righ">

              <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
            </div>
          </div>
          <hr/>
          <div>
            <a href="#" class="product-name"> Product 2</a>
            <div class="small m-t-xs">
              Many desktop publishing packages and web page editors now.
            </div>
            <div class="m-t text-righ">

              <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
            </div>
          </div>

        </div>
      </div>-->

    </div>
  </div>




</div>

