<%= form_for(picture) do |f| %>
  <% if picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, class:"form-control" %>
  </div>
    <br>
<div class="row">
  <div class="field col-md-6">
    <% if f.object.photo.present? %>
      <img src="<%= f.object.photo %>"/><br>
    <% end %>
    <%= f.label :photo, "Preview" %>
    <%= f.file_field :photo, class:"form-control" %>
  </div>

    <div class="field col-md-6">
      <% if f.object.image_real.present? %>
          <img src="<%= f.object.image_real %>"/><br>
      <% end %>
      <%= f.label :image_real, "Imagem" %>
      <%= f.file_field :image_real, class:"form-control" %>
    </div>
</div>
  <div class="field">
    <%= f.label :price, "Preço" %>
    <%= f.text_field :price , class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label :category_id, "Categoria" %>
    <%= f.select :category_id, @categories,{prompt:true}, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :device_id, "Aparelho" %>
    <%= f.select :device_id, @devices,{prompt:true }, class:"form-control"%>
  </div>
    <br>

  <div class="actions">
    <%= f.submit "Salvar",class:"btn btn-w-m btn-primary" %>
  </div>
    <br>
<% end %>
