<p id="notice"><%= notice %></p>

<h1>Adesivos</h1>

<!--<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th>Aparelho</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @pictures.each do |picture| %>
      <tr>
        <td><%#= picture.name %></td>
        <td><%#= picture.price %></td>
        <td><%#= picture.category %></td>
        <td><%#= picture.device %></td>
        <td><%#= link_to 'Show', picture %></td>
        <td><%#= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%#= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>-->

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins collapsed">
      <div class="ibox-title">
        <h5>Pesquisa</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>

        </div>
      </div>
      <div class="ibox-content">
        <%= search_form_for(@q, url: pictures_path) do |f| %>
            <%= f.text_field :name_or_category_name_or_device_name_cont, class: "form-control", placeholder: "Imagem, Categoria ou Aparelho" %>
            <br>
            <%= f.select :device_id_eq, Device.all.map{|d| [d.name,d.id]},{prompt: "Aparelho"},{ class:"form-control"} %>
            <br>
            <%= f.select :category_id_eq, Category.all.map{|d| [d.name,d.id]},{prompt: "Categoria"},{ class:"form-control"} %>
            <br>
            <%= f.submit "Pesquisar", class: "btn btn-w-m btn-primary" %>
            <%= link_to "Limpar", pictures_path, class: "btn btn-w-m btn-primary" %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
  <% @pictures.each do |picture| %>
        <%= link_to edit_picture_path(picture) do %>
          <div class="col-lg-3">
            <div class="widget yellw-bg no-padding" >
              <div class="flot-chart" style="background-image: url(<%= picture.photo %>);  background-repeat: no-repeat;">
                <div class="flot-chart-content" id="flot-chart3"></div>
              </div>
              <div class="p-m">
                <h1 class="m-xs"><%= number_to_currency(picture.price,unit: "R$ ") %></h1>

                <h3 class="font-bold no-margins">
                  <%= picture %>
                </h3>
                <small><%= picture.category %> - <%= picture.device %></small>
              </div>

            </div>
          </div>
        <% end %>
  <% end %>
  </div>
</div>

<%= paginate @pictures %>


<br>

<%= link_to 'Novo Adesivo', new_picture_path %>
