<%= form_for(maker) do |f| %>
  <% if maker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maker.errors.count, "error") %> prohibited this maker from being saved:</h2>

      <ul>
      <% maker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :logo, "Logo" %>
    <% if f.object.logo.present? %>
        <br>
        <img src="<%= f.object.logo %>" width="100px" height="100px">
    <% end %>
    <%= f.file_field :logo, class: "form-control" %>
  </div>
    <br>
  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-primary"%>
  </div>
<% end %>
