<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins collapsed">
      <div class="ibox-title">
        <h5>Pesquisa</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>

        </div>
      </div>
      <div class="ibox-content">
        <%= search_form_for(@q, url: makers_path) do |f| %>
            <%= f.text_field :name_cont, class: "form-control", placeholder: "Fabricante" %>

            <br>
            <%= f.submit "Pesquisar", class: "btn btn-w-m btn-primary" %>
            <%= link_to "Limpar", makers_path, class: "btn btn-w-m btn-primary" %>
        <% end %>
      </div>

    </div>
  </div>
</div>


<h1>Fabricantes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @makers.each do |maker| %>
      <tr>
        <td><%= maker.name %></td>


        <td><%= link_to 'Editar', edit_maker_path(maker) %></td>
        <td><%= link_to 'Apagar', maker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @makers %>
<br>

<%= link_to 'Novo Fabricante', new_maker_path, class: "btn btn-primary" %>
