<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPINIA | Responsive admin theme</title>

    <!-- Include style per-controller - vendor plugins -->
    <%= stylesheet_link_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.css") %>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>



</head>
<body class="gray-bg canvas-menu">

<!-- Main view  -->
<div class="container">
<%= yield %>
</div>

    <!-- Include javascript per-controller - vendor plugins -->
    <%= javascript_include_tag params[:controller] if ::Rails.application.assets.find_asset("#{params[:controller]}.js") %>

    <!-- Include javascript per-view -->
    <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
    <%= yield :javascript %>


<script type="text/javascript" charset="utf-8">
    $(function() {
        // Set idle time
        //$( document ).idleTimer( 300000 );
    });

    $(function() {
        $( document ).on( "idle.idleTimer", function(event, elem, obj){
            // function you want to fire when the user goes idle
            console.log("cancelando");
            $.get("/carts/cancel_carts");
        });

        $( document ).on( "active.idleTimer", function(event, elem, obj, triggerevent){
            // function you want to fire when the user becomes active again
        });

    });
</script>

</body>
</html>
